* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  padding-top: 50px;
}

.topBar {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  padding: 5px 0;
  z-index: 10;
}

.topBar img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.contactsGrid {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactsGrid .contactCard {
  width: 33%;
  position: relative;
  overflow: hidden;
}

.contactsGrid .contactCard img {
  width: 100%;
}

.contactsGrid .contactInfo {
  position: absolute;
  width: 100%;
  bottom: 3px;
  left: 0;
  background: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: space-between;
  font-size: .8em;
}

.contactsGrid .contactInfo p {
  font-weight: 400;
  color: white;
  margin: 5px 5px;
}

.contactDetails img {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  object-fit: cover;
}

.contactDetails .contactInfo {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  padding: 16px;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  line-height: 1.5;
  font-size: .8em;
  width: 100%;
  bottom: 0;
  transform: translateY(60%);
  transition: all .5s;
}

.contactDetails .contactInfo.active {
  transform: translateY(0);
}

.contactDetails hr {
  margin: 10px 0;
  width: 80%;
  opacity: .2;
}

.contactDetails .like {
  position: fixed;
  right: 10px;
  top: 50px;
  width: 50px;
  height: 50px;
  left: initial;
}